@page "/color-cards"
<div style="display: grid; grid-template-columns: repeat(3, minmax(0, 1fr)); gap: 10px;">
    <Card>
        This is cool
    </Card>
    <Card>
        I can change colors
    </Card>
    <Card>
        I like boogieboarding
    </Card>
    <Card>
        The sky is grey. Sad.
    </Card>
</div>

